.header{
	background-color:#3949AB;
	color:white;
	padding-top: 10px;
	padding-bottom:10px;
}

a{
	color:white;
	text-decoration: none;
}
table,td,tr{
	border:none;
	border-collapse: collapse;

}
body{
	font-family: Helvetica;
}